* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Helvetica", "Arial", "sans-serif";
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#testimoni {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* === Navbar === */

.nav-container {
  display: flex;
  background: rgb(249, 255, 255);
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  top: 0;
  left: 0;
  position: relative;
}

.nav-container nav {
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-container nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container nav ul a {
  text-decoration: none;
  text-align: center;
  color: rgb(32, 32, 32);
  position: relative;
  font-weight: bold;
  font-size: 20px;
  transition: 0.5s ease-in-out;
  padding: 0 20px;
}

.nav-container nav ul button {
  cursor: pointer;
  width: 180px;
  height: 60px;
  background: #eb1d36;
  background-repeat: no-repeat;
  border: 0;
  padding: 14px 15px;
  border-radius: 30px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  justify-content: center;
}

.nav-container nav ul button:hover {
  background: #fff;
  border: 2px solid #eb1d36;
  width: 230px;
  animation: button_animate 2s infinite alternate ease-in;
  position: relative;
  color: #eb1d36;
}

.nav-container nav ul .td:hover,
.nav-container nav ul .td.active {
  color: #eb1d36;
}

.nav-container nav ul .td:hover::after,
.nav-container nav ul .td.active::after {
  content: "";
  width: 30%;
  height: 3px;
  background: #7a121e;
  position: absolute;
  bottom: -4px;
  border-radius: 20px;
  left: 21px;
}

/* === Navbar end === */

/* === Banner === */
.banner {
  background-image: url(../asset/banner-testi.png);
  width: 100%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 0px right 0px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 1000px;
  height: 300px;
  margin: 0 3rem;
  padding: 1rem 2rem 0 0;
}

.banner h2 {
  padding-right: 300px;
  font-size: 40px;
  font-family: "Poppins";
  padding-bottom: 10px;
  color: black;
}

.banner h4 {
  font-size: 18px;
  font-family: "Poppins";
  padding: 5px 15px;
  color: #fff;
  background-color: #eb1d36;
  font-weight: normal;
  border-radius: 30px;
  margin-bottom: 10px;
}

/* === Banner end=== */

/* === Title ====*/
.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.rows {
  max-width: 1100px;
  margin: 4rem auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.rows h2 {
  font-family: "Poppins";
  font-size: 40px;
  margin: 0 auto;
  color: #eb1d36;
  width: 400px;
}
.rows p {
  width: 600px;
  font-size: 18px;
  margin: 0 30px;
  text-align: justify;
}

.rows a {
  font-weight: bold;
  color: #407bff;
}
/* === Title end ===*/

.divider {
  width: 80px;
  background: #eb1d36;
  height: 8px;
  margin: 30px 0;
  border-radius: 10px;
}

.desc {
  text-align: center;
  font-size: 18px;
  padding: 0 130px;
  line-height: 40px;
}

.testimoni {
  display: flex;
  justify-content: center;
  margin: 70px 0 50px 0;
}

.testimoni-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 1300px;
  transition: 0.5s ease-in-out;
}

.testimoni-container h2 {
  font-family: "Poppins";
  font-size: 40px;
}

.testimoni-container h2 span {
  font-family: "Poppins";
  font-size: 40px;
  color: #407bff;
}

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  background-color: #fff;
}

.card p {
  width: 200px;
  margin: 10px 0 10px;
  text-align: center;
  line-height: 30px;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070f4;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
.name {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 10px;
  background: rgb(248, 248, 248);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(0, 0, 0, 0.15),
    0px 0px 1px rgba(0, 0, 0, 0.5), 0px 0px 1px rgba(0, 0, 0, 0.85),
    0px 0px 0px rgba(0, 0, 0, 0.98), 0px 0px 0px #000000;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: rgb(225, 225, 225);
  box-shadow: 0px -119px 48px rgba(0, 0, 0, 0.01),
    0px -67px 40px rgba(0, 0, 0, 0.02), 0px -30px 30px rgba(0, 0, 0, 0.03),
    0px -7px 16px rgba(0, 0, 0, 0.04), 0px 0px 0px rgba(0, 0, 0, 0.04);
}

.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

.container {
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 50px 0;
}
.container .main-card {
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card {
  margin-left: -100%;
}
.container .main-card .cards {
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card {
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover {
  transform: translateY(-15px);
}
.cards .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #ff676d;
  margin-bottom: 14px;
}
.card .content .img img {
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name {
  font-size: 20px;
  font-weight: 500;
}
.card .content .job {
  font-size: 15px;
  color: #ff676d;
}
.card .content .media-icons {
  margin-top: 10px;
  display: flex;
}

.container .button {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #4070f4;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active {
  width: 35px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

#one:checked ~ .button .one {
  width: 35px;
}
#one:checked ~ .button .two {
  width: 15px;
}
#two:checked ~ .button .one {
  width: 15px;
}
#two:checked ~ .button .two {
  width: 35px;
}
input[type="radio"] {
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card {
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card {
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}

/* === Newsletter === */
.newsletter {
  background-image: url(../asset/banner-bawah\ testi.png);
  width: 100%;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 0px right 0px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 1000px;
  height: 300px;
  margin: 0 3rem;
  padding: 1rem 2rem 0 0;
}

.newsletter h2 {
  font-size: 35px;
  font-family: "Poppins";
  padding-bottom: 10px;
  padding-right: 2rem;
  margin-right: 15rem;
  opacity: 100%;
}

.newsletter p {
  padding-right: 430px;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: bold;
  padding-bottom: 10px;
  color: #407bff;
}

.newsletter button {
  cursor: pointer;
  width: 200px;
  height: 55px;
  background: #eb1d36;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 25px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  justify-content: center;
}

.newsletter button:hover {
  background: #fff;
  border: 2px solid #eb1d36;
  background-size: 300px;
  width: 270px;
  position: relative;
  color: #eb1d36;
}
/* === Newsletter end === */

/* === Footer ==== */
.footer {
  margin-top: -0.5rem;
  padding: 4rem 1rem;
  box-shadow: 0px -119px 48px rgba(0, 0, 0, 0.01),
    0px -67px 40px rgba(0, 0, 0, 0.02), 0px -30px 30px rgba(0, 0, 0, 0.03),
    0px -7px 16px rgba(0, 0, 0, 0.04), 0px 0px 0px rgba(0, 0, 0, 0.04);
}

.containers {
  max-width: 2000px;
  margin: auto;
}

.containers ul {
  list-style: none;
}

.containers ul li {
  margin-bottom: 13px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.collumn {
  padding: 12px;
}

.collumn h4 {
  font-size: 20px;
  font-family: "Poppins";
  margin-bottom: 1rem;
  position: relative;
}

.collumn h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  background-color: #407bff;
  height: 2px;
  width: 50px;
  box-sizing: border-box;
}

.collumn a {
  color: #000;
  font-size: 16px;
  transition: all 0.5s ease;
}

.collumn a span {
  color: #ce2f2f;
}

.collumn a:hover {
  color: #407bff;
}

.about-us {
  max-width: 450px;
}

.about-us a {
  color: #407bff;
  font-weight: bold;
  transition: all 0.5s ease;
}

.about-us a:hover {
  color: #eb1d36;
  font-weight: bold;
}

.about-us p {
  margin-top: 1.5rem;
  text-align: justify;
  line-height: 35px;
}
/* === Footer end ==== */
